.socialmedia {
  background-color: #fffaf4;
}

.socialmedia__wrapper {
  padding-left: 40px;
  padding-right: 80px;
  padding-bottom: 70px;
  padding-top: 70px;
}

.socialmedia__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.socialmedia__image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 758px) {
  .socialmedia__container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .socialmedia__wrapper {
    padding: 10px;
  }
}
