@font-face {
  src: url("/src/vendor/fonts/CormorantGaramond-Regular.ttf");
  font-family: "Cormorant Garamond-Regular", serif;
}

@font-face {
  src: url("/src/vendor/fonts/codec-pro.regular.ttf");
  font-family: "Codec Pro-Regular", serif;
}

.footer {
  background-image: url(/src/images/footer-image.png);
  background-size: cover;
  width: 100%;
  height: 800px;
}

.footer__wrapper {
  padding: 80px;
}

.footer__header {
  font-size: 80px;
  font-family: "Cormorant Garamond-Regular", serif;
  color: white;
}

.footer__text {
  font-size: 40px;
  color: white;
  font-family: "Codec Pro-Regular", serif;
}

@media screen and (min-width: 320px) and (max-width: 538px) {
  .footer__wrapper {
    padding: 10px;
  }

  .footer__text {
    font-size: 20px;
  }

  .footer__header {
    font-size: 30px;
  }

  .footer {
    height: 400px;
  }
}
