@font-face {
  src: url("/src/vendor/fonts/CormorantGaramond-Bold.ttf");
  font-family: "Cormorant Garamond-Bold", serif;
}

@font-face {
  src: url("/src/vendor/fonts/CormorantGaramond-Regular.ttf");
  font-family: "Cormorant Garamond-Regular", serif;
}

@font-face {
  src: url("/src/vendor/fonts/codec-pro.regular.ttf");
  font-family: "Codec Pro-Regular", serif;
}

.services {
  min-width: 1440px;
  min-height: 800px;
  background-color: #fffaf4;
}

.services__info {
  margin-left: 80px;
}

.services__wrapper {
  padding: 80px;
}

.services__page {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.services__image {
  width: 800px;
  height: 600px;
}

.services__title {
  font-family: "Cormorant Garamond-Regular", serif;
  line-height: 1.2;
  font-size: 75px;
}

.services__paragraph {
  font-family: "Codec Pro-Regular", serif;
  line-height: 1.2;
  font-size: 30px;
  margin-top: 90px;
}
