@font-face {
  src: url("/src/vendor/fonts/CormorantGaramond-Bold.ttf");
  font-family: "Cormorant Garamond-Bold", serif;
}

@font-face {
  src: url("/src/vendor/fonts/CormorantGaramond-Regular.ttf");
  font-family: "Cormorant Garamond-Regular", serif;
}

@font-face {
  src: url("/src/vendor/fonts/codec-pro.regular.ttf");
  font-family: "Codec Pro-Regular", serif;
}

.services {
  background-color: #fffaf4;
}

.services__info {
  margin-left: 80px;
}

.services__wrapper {
  padding: 80px;
}

.services__page {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.services__image {
  width: 800px;
  height: 600px;
}

.services__title {
  font-family: "Cormorant Garamond-Regular", serif;
  line-height: 1.2;
  font-size: 75px;
}

.services__paragraph {
  font-family: "Codec Pro-Regular", serif;
  line-height: 1.2;
  font-size: 30px;
  margin-top: 90px;
}

@media screen and (min-width: 320px) and (max-width: 581px) {
  .services {
    height: 350px;
    width: 100%;
  }
  .services__image {
    max-width: 250px;
    max-height: 180px;
  }

  .services__wrapper {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .services__info {
    margin: 0;
  }

  .services__title {
    margin-top: 10px;
    margin-left: 60px;
    font-size: 30px;
  }

  .services__paragraph {
    line-height: 1.2;
    font-size: 12px;
    margin-top: 10px;
  }

  .services__page {
    flex-direction: column;

    align-items: center;
    margin-top: 0;
  }
}

@media screen and (min-width: 582px) and (max-width: 750px) {
  .services {
    height: 450px;
    width: 100%;
  }
  .services__image {
    max-width: 350px;
    max-height: 280px;
  }

  .services__wrapper {
    padding: 20px;
  }

  .services__info {
    margin-left: 20px;
  }

  .services__title {
    margin-bottom: 40px;
    font-size: 33px;
  }

  .services__paragraph {
    line-height: 1.2;
    font-size: 18px;
    margin-top: 10px;
  }

  .services__page {
    flex-direction: row;
    margin-top: 50px;
  }
}

@media screen and (min-width: 751px) and (max-width: 850px) {
  .services {
    height: 450px;
    width: 100%;
  }
  .services__image {
    max-width: 350px;
    max-height: 280px;
  }

  .services__wrapper {
    padding: 20px;
  }

  .services__info {
    margin-left: 45px;
  }

  .services__title {
    margin-bottom: 40px;
    font-size: 45px;
  }

  .services__paragraph {
    line-height: 1.2;
    font-size: 18px;
    margin-top: 10px;
  }

  .services__page {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
  }
}

@media screen and (min-width: 851px) and (max-width: 1000px) {
  .services {
    height: 550px;
    width: 100%;
  }
  .services__image {
    max-width: 450px;
    max-height: 350px;
  }

  .services__wrapper {
    padding: 20px;
  }

  .services__info {
    margin-left: 50px;
  }

  .services__title {
    margin-bottom: 40px;
    font-size: 55px;
  }

  .services__paragraph {
    line-height: 1.2;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .services__page {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .services {
    height: 700px;
    width: 100%;
  }
  .services__image {
    max-width: 550px;
    max-height: 350px;
  }

  .services__wrapper {
    padding: 60px;
  }

  .services__info {
    margin-left: 50px;
    width: 400px;
  }

  .services__title {
    margin-bottom: 60px;
    font-size: 50px;
  }

  .services__paragraph {
    line-height: 1.2;
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .services__page {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 90px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1299px) {
  .services {
    height: 750px;
    width: 100%;
  }
  .services__image {
    max-width: 650px;
    max-height: 450px;
  }

  .services__wrapper {
    padding: 60px;
  }

  .services__info {
    margin-left: 50px;
  }

  .services__title {
    margin-bottom: 80px;
    font-size: 60px;
  }

  .services__paragraph {
    line-height: 1.2;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .services__page {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1439px) {
  .services {
    height: 800px;
    width: 100%;
  }
  .services__image {
    max-width: 800px;
    max-height: 600px;
  }

  .services__wrapper {
    padding: 60px;
  }

  .services__info {
    margin-left: 80px;
  }

  .services__title {
    margin-bottom: 80px;
    font-size: 70px;
  }

  .services__paragraph {
    line-height: 1.2;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .services__page {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
  }
}
